{% extends 'user-section/userlayout.html'%}

{%block content%}
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/Products/Pizza2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span style="color: rgb(22, 21, 21) ;">Latest Offers </span>
							<h2 style="color: rgb(0, 0, 0) ;">LARGE PIZZA</h2>
							<p style="color:black;">Tasty large pizza from pepinos Thiks road up for grabs </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">WishList</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span >from</span>
						<h3>ksh 700</h3>
						<p class="mt-2">ORDER NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/Products/pizza.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span style="color: black;">Latest Offers</span>
							<h2 style="color:black ;">Barbeque Pizza Large</h2>
							<p style="color: black;">.Enjoy your tasty pizza up for grabs today at your nearest Pizza inn!! </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">Call to Order</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span >from</span>
						<h3>ksh 700</h3>
						<p class="mt-2">ORDER NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/1.png" alt="#">
						</div>
						<h2>BEST DEALS</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/2.png" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/3.png" alt="#">
						</div>
						<h2>Home delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>VIEW OFFERS </h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img class="product-image" src="img/Products/Fish Seasoning (great all-rounder).jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-call ml-2"></i><span>Call to Order</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>ksh35,00</h6>
						<p>Best deal ever  </p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<div class="tag-new">New</div>
						<img  class="product-image" src="img/Products/Hawaiian BBQ Pizza.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>Call to Order</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>ksh35,00</h6>
						<p>Best deal ever </p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img class="product-image" src="img/Products/Homemade chips recipe _ Jamie Oliver potato recipes.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>Call to Order</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>ksh35,00</h6>
						<p>Best deal ever  </p>
					</div>
				</div>
			</div>

			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div>
		</div>
	</section>
	<!-- letest product section end -->

	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/Products/chicken.jpg">
				<div class="tag-new">FEATURED</div>
				<span>SANTORINI RESTAURANT </span>
				<h2>CHICKEN BBQ</h2>
				<a href="#" class="site-btn">SHOP NOW</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->

{% endblock content%}